# Ignore everything inside data
data/*
# Re-allow assets folder
!data/assets/
# Re-allow everything inside assets
!data/assets/**

.vscode
__pycache__

# 3D assets
*.obj
# But allow obj files inside data/assets
!data/assets/**/*.obj

*.fbx
*.glb
*.ply
# ML / binary
*.onnx
*.pt
*.engine
*.bin
mesh_viewer_modern.py

# build specific
installer_script.iss
dist
build
main.spec
Output